/* main.css */

/* Reset básico */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Fondo global */
html,
body {
  height: 100%;
  font-family: 'Montserrat', Arial, sans-serif;
  color: #fff; /* texto blanco por defecto */
  line-height: 1.6;
}

/* Enlaces globales */
a {
  color: #00c3ff;
  text-decoration: none;
  transition: color 0.3s ease;
}


/* Títulos */
h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  margin-bottom: 1rem;
  line-height: 1.2;
}

/* Párrafos */
p {
  margin-bottom: 1rem;
  font-size: 1rem;
}

/* Contenedor genérico */
